# OS / editor
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies (por si en el futuro entra build)
node_modules/
dist/
.cache/

# Backups locales
*.bak
*.orig
*~

.vercel
